In [5]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
# Convert flot into int 

X=1.4
x=int(float(1.4))
print(x)

1

In [7]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x=float(5)
print(x)

#convert from float to int:
y=int(3.8)
print(y)

#convert from int to complex:
z=complex(5j)
print(z)

5.0
3
5j

In [9]:
# Print 15 random numbers

import random

print(random.randrange(1, 15) )

7

In [10]:
# Convert int ,float to string 

x = str("t5") 
y = str(4)    
z = str(6.0)
print(x)
print(y)
print(z)

t5
4
6.0

In [11]:
# Assign a string to variable 

a="python"
print(a)

python

In [12]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."

print(a+b+c+d)

Hello raj?Hi Manish.How are you.I am fine.

In [16]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3: -3:])

lo, Wor

In [58]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like you culture."

print("like" in Sentence)

True

In [17]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[:6])

I Love

In [18]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity,itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [19]:
# remove the error
Sent = "We will vist \"America\" after two days."       #escape sequence.
print(Sent)

We will vist "America" after two days.

In [20]:
# Print the sentence after comma in next line 
Sent=" Hii Mona ,\n When will we go for holidays ?  "     # escape sequence \n
print(Sent)

 Hii Mona ,
 When will we go for holidays ?

In [21]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']   # by converting list into set. Setnot allows duplicate element
a = set(List)
print(a)

{'Sam', 'Ram', 'Nick'}

In [22]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[-4:])

['orange', 'kiwi', 'melon', 'mango']

In [23]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[1]='Micky'
List

['Ram', 'Micky', 'Nick', 'Sam']

In [24]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List[3]='Micky'
List

['Ram', 'Sam', 'Nick', 'Micky']

In [25]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)
y.insert(2,"kiwi")
x = tuple(y)

print(x)

('apple', 'banana', 'kiwi', 'cherry')

In [26]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("kiwi")

print(Fruits)

{'cherry', 'kiwi', 'banana', 'apple'}

In [27]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}
fruit3 = Fruit1.union(Fruit2)
print(fruit3)

{'pineapple', 'banana', 'cherry', 'papaya', 'mango', 'apple'}

In [34]:
# Remove the any item from the set
set={"Krishh","Prince","KUmar"}
set.remove("Prince")
print(set)

{'KUmar', 'Krishh'}

In [36]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) 

Bike['month'] = "Dec"  
print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'month'])

In [39]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
  }  #({"year": 2020})

Car['year'] = 2020  #year updated from 1964 to 2020

print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}