**[Slide No. 47]**

1. Create a empty Dictionary and check its Data type.

In [ ]:
Dict1={}
print(type(Dict1))

<class 'dict'>

**[Slide No.48]**

2.  Write a Python program  to add a key to a dictionary

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [ ]:
Dict1={0: 10, 1: 20}
Dict1[2]=30
Dict1

{0: 10, 1: 20, 2: 30}

**[Slide No. 48]**

3.  Write a Python script to concatenate following dictionaries to create a new one.

Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**[Slide No. 48]**

4. Write a program to create Dictionary and add new item in it.

In [ ]:
Dic={1:'hyd',2:'pune',3:'bgl'}
Dic[4]='cbn'
Dic

{1: 'hyd', 2: 'pune', 3: 'bgl', 4: 'cbn'}

**[Slide No. 48]**

5. Write a program to create Dictionary and delete the item at 3 index .

In [ ]:
Dict={1: 'hyd', 2: 'pune', 3: 'bgl', 4: 'cbn'}
Dict.pop(3)
Dict

{1: 'hyd', 2: 'pune', 4: 'cbn'}

**[Slide No. 48]**

6. Write a program to create dictionary and delete last item from it.

In [ ]:
Dict={1: 'hyd', 2: 'pune', 3: 'bgl', 4: 'cbn'}
Dict.popitem() 
Dict

{1: 'hyd', 2: 'pune', 3: 'bgl'}

**[Slide No. 49]**

7. Create a dictionary and print the item at 2nd index value.

In [ ]:
Dict={'place': 'hyd'}
Dict['world']='pune'
Dict['country']='india'
Dict['cont']='aus'
print(Dict)
Dict.pop('cont')
Dict

{'place': 'hyd', 'world': 'pune', 'country': 'india', 'cont': 'aus'}

{'country': 'india', 'place': 'hyd', 'world': 'pune'}

**[Slide No. 49]**

8. Create a Dictionary and change the range of key value .

In [ ]:
class_room =  {
                 'boys':{'boy1':
                            {
                             'p':45,
                             'c':89
                            },
                         'boy2':['h','b']
                        },
                'girls':{'girl1':['p','c'],
                         'girl2':['p','c'],
                         'girl3':{
                                 'p':55,
                                 'c':79
                                 },
                        }
              }
print(class_room)
class_room['girls']['girl3']['c']=19
class_room

{'boys': {'boy1': {'p': 45, 'c': 89}, 'boy2': ['h', 'b']}, 'girls': {'girl1': ['p', 'c'], 'girl2': ['p', 'c'], 'girl3': {'p': 55, 'c': 79}}}

{'boys': {'boy1': {'c': 89, 'p': 45}, 'boy2': ['h', 'b']},
 'girls': {'girl1': ['p', 'c'],
  'girl2': ['p', 'c'],
  'girl3': {'c': 19, 'p': 55}}}