**[Slide No. 41]**

1. Write a Python program to create a set.

In [1]:
set1={1, '2'}
print(type(set1))

<class 'set'>

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [2]:
set1={1, '2'}
set1.add(12)
set1

{1, 12, '2'}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

In [5]:
set1={1, 12, '2'}
set1.add(13)
set1.add('abc')
list1=[1,2,3]
set1.update(list1)
set1.add(3.4)
set1

{1, 12, 13, 2, '2', 3, 3.4, 'abc'}

**[Slide No. 41]**

4. Write a program to add multiple element in set.

In [6]:
set1={1, 12, '2'}
set2={2,'abc',9,11}
set1.update(set2)
set1

{1, 11, 12, 2, '2', 9, 'abc'}

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [7]:
my_set = {1, 3, 4, 5, 6}
my_set

{1, 3, 4, 5, 6}

In [ ]:
The discard() method in Python removes a specified element from the Set. ... The remove() method raises an error 
when the specified element doesn't exist in the given set, however the discard() method doesn't raise any error 
if the specified element is not present in the set and the set remains unchanged.

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

In [9]:
set101={1,9,2,6,9,8,2}
set101
#set does not take a duplicate value

{1, 2, 6, 8, 9}

7.  Write a Python program to clear a set.

In [12]:
set101={1,9,2,6,9,8,2}
set101.clear()
set101

set()

**[Slide No. 43]**

8. Write a program to add two set.

In [14]:
set1={1, 12, '2'}
set2={2,'abc',9,11}
set3=set1.union(set2)
set3

{1, 11, 12, 2, '2', 9, 'abc'}

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

In [18]:
months = set(["January","February", "March", "April", "May", "June"])
months.remove("January")
months.discard("May")
print("\nprinting the original set ... ")
print("\nRemoving some months from the set...");
print("\nPrinting the modified set...");
print(months)

printing the original set ...

Removing some months from the set...

Printing the modified set...
{'March', 'February', 'June', 'April'}

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

In [20]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}

Days2 = {"Friday","Saturday","Sunday"}

print(Days1.union(Days2))

{'Tuesday', 'Friday', 'Sunday', 'Thursday', 'Wednesday', 'Monday', 'Saturday'}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 
z

{'apple'}

**[Slide No. 45]**

12. Write a Python program to create set difference.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) 
q = y.difference(x)
print(z)
print(q)

{'banana', 'cherry'}
{'google', 'microsoft'}