[Slide No- 39]

1. Create empty tuple and check its Data type.

In [ ]:
tuple1=()
print(type(tuple1))

<class 'tuple'>

**[Slide No. - 39]**



2. Check the output : 
T1 = (101, "Peter", 22)    

T2 = ("Apple", "Banana", "Orange") 

T3 = (10,20,30,40,50)  

Print Data type of each tuple.

In [ ]:
T1 = (101, "Peter", 22)
T2 = ("Apple", "Banana", "Orange")

T3 = (10,20,30,40,50)

print(type(T1))
print(type(T2))
print(type(T3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

**[Slide No. - 40]**

3.Write the program to print 0 index item of tuple .

tup = (1,2,3,4,5,6,7)

In [ ]:
tup = (1,2,3,4,5,6,7)
print(tup[0])

1

**[Slide No. - 40]**

4.  What is the output of the program  

tup = (1,2,3,4,5,6,7)

print(tup[8])

In [ ]:
tup = (1,2,3,4,5,6,7)

print(tup[8])

IndexError: ignored

**[Slide No. 40]**

5.  Write a program to concate two tuple.

In [ ]:
tup1=(2,5,8,6,3)
tup2=(9,5,6,3,7,8)
print(tup1+tup2)

(2, 5, 8, 6, 3, 9, 5, 6, 3, 7, 8)

**[Slide No. 40]**

6 .  Write a program to create the tuple and delete the items?

In [ ]:
A=(1,"abc",5,8,6)

In [ ]:
A=(1,"abc",5,8,6)

B=list(A)
B.remove("abc")
print(B)

[1, 5, 8, 6]

**[Slide No. 40]**

7. Write a program to delete  2 index value from  tuples?

In [ ]:
a=(1,"abc",5,"ytr",8,6)
b=list(a)
b.pop(2)
print(b)

[1, 'abc', 'ytr', 8, 6]

**[Slide No. 40]**

8. Check the output of 
tuple1 = (1, 2, 3, 4, 5)    

using negative indexing print last two item of tuple

using negative indexing print '4' from the tuple

using negative indexing print all items of the list

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[-2:])

(4, 5)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[-2])

4

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[-5:])

(1, 2, 3, 4, 5)